@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600;700&display=swap');

:root{
    --green:#27ae60;
    --black:#192a56;
    --light-color:#666;
    --box-shadow:0 .5rem 1.5rem rgba(0,0,0,.1);
}

*{
    font-family: 'Nunito', sans-serif;
    margin:0; padding:0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none; border:none;
    text-transform: capitalize;
    transition: all .2s linear;
}

html{
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-padding-top: 5.5rem;
    scroll-behavior: smooth;
}

section{
    padding:2rem 9%;
}

section:nth-child(even){
    background:#eee;
}

.sub-heading{
    text-align: center;
    color:var(--green);
    font-size: 2rem;
    padding-top: 1rem;
}

.heading{
    text-align: center;
    color:var(--black);
    font-size: 3rem;
    padding-bottom: 2rem;
    text-transform: uppercase;
}




#OurSpec_card{
    max-width: 180px;
    width: 180px;
    margin-bottom: 20px;
 }
 
 #OurSpec_img{
     width: 100px;
 margin-left: auto;
 margin-right: auto; 
 
 }
 #OurSpec_p{
     font-size: 10px;
     text-align: justify;
 }
 #OurSpec_h6{
     float: right;
 }
 .OurSpec_tab{
float: right;
margin-top: 15px;
margin-right: 15px;
}

#topicon{
    color: white;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;

}
#OurSpec_grid{
    width: 180px;
    padding: 0px;
}

.OurSpec_flex{
    display: flex;
}